Repository ade-sede/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, templ

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
    -   id: prettier
        types_or: [css, javascript, markdown]
-   repo: local
    hooks:
    -   id: gofmt
        name: gofmt
        entry: gofmt -w
        language: golang
        types: [go]
    -   id: templ
        name: templ
        entry: templ fmt
        language: golang
        files: \.templ$

fix: pre-commit install in different make target
  Makefile
  README.md
Due: none

chore: agents doc
  AGENTS.md
Due: none

fix: make
  Makefile
Due: none

fix: make
  AGENTS.md
  Makefile
  README.md
Due: none

feat: Configure devbox with direnv support
  .envrc
  README.md
Due: none

feat: use local templ if available
  Makefile
  devbox.json
  devbox.lock
Due: none

build: add makefile formatter to pre-commit
  .pre-commit-config.yaml
Due: none

docs: consolidate and improve screenshot instructions
  CLAUDE.md
Due: none

build: rename make prepare to make build
  Makefile
Due: none

feat: hot-reload make serve when changes
  Makefile
  devbox.json
  devbox.lock
Due: none

docs: update README with screenshot commands and improve formatting
  README.md
Due: none

feat: implement desktop footnotes sidebar
  src/article.templ
  src/css/article.css
  src/main.go
  src/parse-article.go
  src/scripts/footnotes.js
Due: gofmt, templ

fix: make clean crashes if web/ does not exist
  Makefile
Due: none

chore: todo.txt
  todo.txt
Due: none

feat: add draft mode for articles and quick notes
  .envrc
  articles/dynamic-color-adjustments.json
  quick-notes/building-kde-plasmoids.json
  src/parse-article.go
Due: gofmt

draft article
  articles/the-familiarity-bias.json
  articles/the-familiarity-bias.md
Due: none

chore: improve hot reload
  Makefile
Due: none

fix: latest is draft
  articles/the-familiarity-bias.json
Due: none

chore: reorder json
  articles/dynamic-color-adjustments.json
  articles/the-familiarity-bias.json
Due: none

wip
  articles/the-familiarity-bias.md
Due: none

feat: improve toc
  src/article.templ
  src/css/article.css
  src/parse-article.go
  src/quick-note.templ
  src/scripts/toc.js
Due: gofmt, templ

feat: improve TOC & footnotes position
  src/css/article.css
Due: none

chore: makefile remove useless check
  Makefile
Due: none

feat: better agent instructions for testing
  AGENTS.md
  CLAUDE.md
Due: none

wip
  articles/the-familiarity-bias.md
  todo.txt
Due: none

feat : better footnote items
  src/css/article.css
Due: none

feat: dynamically generate sitemap
  README.md
  devbox.json
  devbox.lock
  src/main.go
  src/sitemap.go
Due: gofmt

fix: resume render on mobile
  src/css/resume.css
Due: none

fix: view all buttons on cards
  src/css/home.css
  src/home.templ
Due: templ

feat: slightly better latex support on mobile
  src/css/article.css
  src/css/global.css
  src/parse-article.go
  src/scripts/latex.js
Due: gofmt

chore: agent instructions
  AGENTS.md
  CLAUDE.md
Due: none

refactor: latex
  articles/dynamic-color-adjustments.css
  articles/dynamic-color-adjustments.md
  src/css/global.css
Due: none

fix: navbar
  src/css/navbar.css
Due: none

wip article
  articles/the-familiarity-bias.md
Due: none

feat: the tyranny of simple
  articles/the-familiarity-bias.json
  articles/the-familiarity-bias.md
  articles/the-tyranny-of-simple.json
  articles/the-tyranny-of-simple.md
Due: none

fix: typo
  articles/the-tyranny-of-simple.json
Due: none

chore: typos
  articles/the-tyranny-of-simple.md
Due: none

chore
  articles/the-tyranny-of-simple.md
Due: none

refactor: migrate to unified tag-based content system
  Makefile
  articles/building-kde-plasmoids.json
  articles/building-kde-plasmoids.md
  articles/dynamic-color-adjustments.json
  articles/the-tyranny-of-simple.json
  src/article.templ
  src/articles.templ
  src/home.templ
  src/layout.templ
  src/main.go
  src/minify.go
  src/parse-article.go
  src/sitemap.go
Due: gofmt, templ

refactor: show only most recent article on home page
  src/home.templ
  src/main.go
Due: gofmt, templ
