Repository ade-sede/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, templ

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
    -   id: check-added-large-files
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
    -   id: beautysh
        files: Makefile*
-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
    -   id: prettier
        types_or: [css, javascript, markdown]
-   repo: local
    hooks:
    -   id: gofmt
        name: gofmt
        entry: gofmt -w
        language: golang
        types: [go]
    -   id: templ
        name: templ
        entry: templ fmt
        language: golang
        files: \.templ$

style: add pill-style badges for article tags
  src/css/articles.css
Due: none

chore: flow
  articles/the-tyranny-of-simple.md
Due: none

chore: tone
  articles/the-tyranny-of-simple.md
Due: none

pill styling
  src/css/articles.css
Due: none

chore: setting up claude for reviews
  .claude/commands/review-article.md
  AGENTS.md
  CLAUDE.md
  articles/the-tyranny-of-simple.md
Due: none

back to draft
  articles/the-tyranny-of-simple.json
Due: none

refactor
  AGENTS.md
  src/config.go
  src/main.go
  src/minify.go
  src/parse-article.go
  src/sitemap.go
Due: gofmt

build url in post-push script
  Makefile
  scripts/hooks/post-push
Due: none

refactor
  CLAUDE.md
  src/parse-article.go
Due: gofmt

refactor + docs
  README.md
  src/article.go
  src/articles.templ
  src/config.go
  src/directorytree.go
  src/experiences.go
  src/home.templ
  src/main.go
  src/markdown.go
  src/minify.go
  src/parse-article.go
  src/pdf-generator.go
  src/quick-note.templ
  src/quick-notes.templ
  src/sitemap.go
Due: gofmt, templ

skill + script to kickstart a new article
  .opencode/skills/new-article/SKILL.md
  Makefile
  README.md
  scripts/new-article.py
Due: none

built-in support for dynamic color adjustements
  README.md
  articles/dynamic-color-adjustments.js
  articles/dynamic-color-adjustments.md
  src/markdown.go
  src/scripts/theme.js
Due: gofmt

rewrite article on simplicity
  articles/the-tyranny-of-simple.json
  articles/the-tyranny-of-simple.md
Due: none

update copyright
  src/layout.templ
Due: templ

Fix Cloudflare build: upgrade templ and pin generator version
  Makefile
  go.mod
  go.sum
Due: none

generate resume PDF using weasyprint and publish on GH
  .github/workflows/pdf.yml
  .opencode/skills/generate-pdf/SKILL.md
  Makefile
  README.md
  devbox.json
  devbox.lock
  go.mod
  go.sum
  scripts/generate-pdf.py
  src/config.go
  src/main.go
  src/pdf-generator.go
  src/resume.templ
  todo.txt
Due: gofmt, templ

Fix workflow: use jetify-com/devbox-install-action
  .github/workflows/pdf.yml
Due: none

Fix workflow: pass OUTPUT_DIR and SRC_DIR env vars to PDF step
  .github/workflows/pdf.yml
Due: none

Fix workflow: use make all and pass all required env vars
  .github/workflows/pdf.yml
Due: none

Fix workflow: use /home/runner/go as GOPATH
  .github/workflows/pdf.yml
Due: none

Refactor PDF generation stack
  .github/workflows/pdf.yml
  .opencode/skills/generate-pdf/SKILL.md
  Makefile
  README.md
  scripts/generate-pdf.py
  src/pdfs/ade-sede.pdf
  src/pdfs/resume.pdf
  src/resume.templ
Due: templ

Fix CI: watch master branch, not main
  .github/workflows/pdf.yml
Due: none

Rename master to main in CI workflow
  .github/workflows/pdf.yml
Due: none

Rebuild AGENTS.md from scratch
  AGENTS.md
  CLAUDE.md
Due: none

bootstrap cloudflare MCP to monitor deploys
  .envrc
  .gitignore
  .opencode/opencode.json
  AGENTS.md
  README.md
Due: none

devbox lock update
  devbox.lock
Due: none

wip
  articles/break-free-from-the-infrastructure-layer.json
  articles/break-free-from-the-infrastructure-layer.md
Due: none

Add CI workflow to validate build
  .github/workflows/build.yml
Due: none

Deploy to Cloudflare Pages via GitHub Actions
  .github/workflows/build.yml
  scripts/hooks/post-push
Due: none

Add test article for GH Actions deploy verification
  articles/gh-actions-deploy-test.json
  articles/gh-actions-deploy-test.md
Due: none

Remove test article
  articles/gh-actions-deploy-test.json
  articles/gh-actions-deploy-test.md
Due: none
